# ========== DATABASE CONNECTION ==========
DB_NAME='pg_iceberg'
DB_HOST_LOCAL='localhost'
DB_PORT_LOCAL=5433
DB_HOST_CONTAINER='postgres'
DB_PORT_CONTAINER=5432
DB_USER='postgres'
DB_PASSWORD='postgres'




# ========== LAKEHOUSE CONNECTION ==========
LH_HOST_LOCAL='localhost'
LH_PORT_LOCAL_API=9000
LH_PORT_LOCAL_WEB=9001
LH_HOST_CONTAINER='minio'
LH_PORT_CONTAINER_API=9000
LH_PORT_CONTAINER_WEB=9001
LH_USER='minio'
LH_PASSWORD='minio_password'